.forms{
    color:white;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr;
    padding: 5em;
}

.bg{
    background-image: url("https://images.unsplash.com/photo-1610697180268-8a279a15ff7c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}